/*basic styling added after Bootstrap junk*/


body { 
	padding-top: 70px;
	background-image: url(http://img.photobucket.com/albums/v285/picturekid/pastelgeometricbackground_zpsct8k7kjy.jpg);
}

#timestamp {
	font-size: x-small;
}

.navbar-form {
	background-image: url(http://img.photobucket.com/albums/v285/picturekid/weathered-wood-grain-texture_zps2vlyftha.jpg);
	opacity: 60%;
	border-bottom: 4px solid black;
	border-top: 2px solid black;
	box-shadow: 0px 3px 10px 1px #444;
}

#message-input,
#message-edit {
	width: 700px;
	box-shadow: inset 2px 2px 5px 2px #444;
	border: 1px solid black;
}

#clearBtn, #message-input, #inlineCheckbox1, #inlineCheckbox2 {
	margin-top: 5px;
} 

#clearBtn {
	color: #001a1a;
	background-color: #80ffdd;
	box-shadow: 1px 1px 2px 1px #777;
	border: 2px solid #008080;
}

.navbar-fixed-top {
  margin-top: 0;
}

#brand-id {
	max-width: 100%;
	max-height: 100%;
}

#message-board {
	background-color: #fffff3;
	border: 4px solid #1a0d00;
	box-shadow: 3px 3px 15px 0px #333;
	margin-bottom: 90px;
	margin-top: 40px;
}

.col-md-10 {
	word-wrap: break-word;
	padding-top: 25px;
	padding-bottom: 12px;
}


.row {
	border-bottom: 1px solid black;
}

.btn.btn-default.delBtn {
	background-color: #ff3333;
	color: white;
	margin: 10px;
	border: 1px solid #4d3300;
	box-shadow: 1px 1px 2px 1px #777;
}

.btn.btn-default.editBtn {
  background-color: #009999;
  color: white;
  margin: 10px;
  border: 1px solid #4d3300;
  box-shadow: 1px 1px 2px 1px #777;
}

.navbar-bottom {
	border-top: 5px solid #1a0d00;
	border-bottom: 5px solid #1a0d00;
	text-align: center;
	color: black;
	background-image: url(http://img.photobucket.com/albums/v285/picturekid/wovenbackground_zpsh3n90qnt.jpg);
}

footer {
	margin-top: 20px;
}

#brand-bottom {
	width: 228px;
	height: 153px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.checkbox-inline {
	color: white;
	font-size: medium;
}

.hidden {
  display: none;

}

