/*basic styling added after Bootstrap junk*/


body { 
	padding-top: 70px;
}

.navbar-form {
	background-color: lightgrey;
}

#message-input,
#message-edit {
	width: 700px;
}

.navbar-fixed-top {
  margin-top: 0;
}

#message-board {
	border: 2px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 3px 3px 5px 0px #4c4c4c;
}

.col-md-10 {
	word-wrap: break-word;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid black;
}

.row::after {
	height: 2px;
	background-color: orange;
}

.btn.btn-default.delBtn {
	background-color: #2effff;
	color: white;
	margin: 10px;
}

.btn.btn-default.editBtn {
  background-color: #fe6dbc;
  color: white;
  margin: 10px;
}


.hidden {
  display: none;
}

/*.center-line {
	border-bottom: 1px solid black;
}*/